.textField {

  width: 100%;
  border-width: var(--border-width);
  border-style: var(--border-style);
  transition: all var(--transition-duration);
}


.small {
  height: 1.5rem;
}

.medium {
  height: 2rem;
}

.large {
  height: 2.5rem;
}
