.textField {
  width: 100%;
  border-width: var(--border-width);
  border-style: var(--border-style);
  transition: border-color var(--transition-duration) ease-in-out,
    box-shadow var(--transition-duration) ease-in-out;
}

.small {
  height: 1.5rem;
}

.medium {
  height: 2rem;
}

.large {
  height: 2.5rem;
}
