.space {
  display: flex;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.small {
  gap: var(--spacing-sm);
}

.medium {
  gap: calc(2 * var(--spacing-sm));
}

.large {
  gap: calc(3 * var(--spacing-sm));
}
