.button {
    all: unset;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    cursor: pointer;

    transition: var(--transition-duration) all var(--transition-timing-function);
}

.primary {
}

.secondary {
}

.button_hovered {

}
.button_disabled {
    cursor: not-allowed;
}

.small {
    height: 2rem;
}
.medium {
    height: 2.5rem;
}
.large {
    height: 3rem;
}


.circle {
    border-radius: 50%;
}
.round {
    border-radius:  0.5rem;
}